
tests/RTTIvsFASTRTTI/vs2019/REALRTTI_vs_FASTRTTI.vcxproj.user
tests/RTTIvsFASTRTTI/vs2019/.vs/REALRTTI_vs_FASTRTTI/v16/.suo
tests/RTTIvsFASTRTTI/vs2019/.vs/REALRTTI_vs_FASTRTTI/v16/Browse.VC.db
tests/RTTIvsFASTRTTI/vs2019/.vs/REALRTTI_vs_FASTRTTI/v16/ipch/AutoPCH/5f4b1ee0f286da01/RTTITEST.ipch
tests/RTTIvsFASTRTTI/vs2019/.vs/REALRTTI_vs_FASTRTTI/v16/ipch/AutoPCH/864a81af5e68c98b/RTTITEST.ipch
tests/RTTIvsFASTRTTI/vs2019/.vs/REALRTTI_vs_FASTRTTI/v16/ipch/AutoPCH/b6ed6883107db229/RTTITEST.ipch
tests/RTTIvsFASTRTTI/vs2019/.vs/REALRTTI_vs_FASTRTTI/v16/ipch/AutoPCH/fca5379b2c84c84f/RTTITEST.ipch
tests/UsageTest/.vs/UsageTest/v16/.suo
tests/UsageTest/.vs/UsageTest/v16/Browse.VC.db
tests/UsageTest/.vs/UsageTest/v16/ipch/AutoPCH/3ceadb80a423c0d2/USAGETEST.ipch
tests/UsageTest/.vs/UsageTest_vs2019/v16/.suo
tests/UsageTest/.vs/UsageTest_vs2019/v16/Browse.VC.db
*.obj
*.exe
tests/UsageTest/Debug/UsageTest_vs2013.exe.recipe
*.ilk
tests/UsageTest/Debug/UsageTest_vs2013.log
*.pdb
*.tlog
tests/UsageTest/Debug/UsageTest_vs2013.vcxproj.FileListAbsolute.txt
*.idb
*.user
tests/UsageTest/.vs/UsageTest_vs2019/v16/Browse.VC.db-shm
tests/UsageTest/.vs/UsageTest_vs2019/v16/Browse.VC.db-wal
tests/UsageTest/.vs/UsageTest_vs2019/v16/Browse.VC.opendb
*.ipch
tests/UsageTest/Debug/UsageTest_vs2019.exe.recipe
tests/UsageTest/Debug/UsageTest_vs2019.log
tests/UsageTest/Debug/UsageTest_vs2019.vcxproj.FileListAbsolute.txt
tests/UsageTest/UsageTest.xcworkspace/xcuserdata/vasile.cristian.xcuserdatad/UserInterfaceState.xcuserstate
*.exe
*.exe
*.exe
tests/RTTIvsFASTRTTI/vs2019/Release_BOTH/BothRTTI.exe.recipe
*.iobj
*.ipdb
tests/RTTIvsFASTRTTI/vs2019/Release_BOTH/REALRTTI_vs_FASTRTTI.log
tests/RTTIvsFASTRTTI/vs2019/Release_FASTRTTI/FastRTTI.exe.recipe
tests/RTTIvsFASTRTTI/vs2019/Release_FASTRTTI/REALRTTI_vs_FASTRTTI.log
*.exe
*.exe
